<div data-dojo-type="dijit/layout/ContentPane" class="HeaderBar maage-navbar" data-dojo-props="region:'top'">
    <% var services = [
        {name: "Acinetobacter", href: "/view/Taxonomy/469#view_tab=overview"},
        {name: "Bacillus", href: "/view/Taxonomy/1386#view_tab=overview"},
        {name: "Bartonella", href: "/view/Taxonomy/773#view_tab=overview"},
        {name: "Borreliella", href: "/view/Taxonomy/64895#view_tab=overview"},
        {name: "Brucella", href: "/view/Taxonomy/234#view_tab=overview"},
        {name: "Burkholderia", href: "/view/Taxonomy/32008#view_tab=overview"},
        {name: "Campylobacter", href: "/view/Taxonomy/194#view_tab=overview"},
        {name: "Chlamydia", href: "/view/Taxonomy/810#view_tab=overview"},
        {name: "Clostridium", href: "/view/Taxonomy/1485#view_tab=overview"},
        {name: "Coxiella", href: "/view/Taxonomy/776#view_tab=overview"},
        {name: "Ehrlichia", href: "/view/Taxonomy/943#view_tab=overview"},
        {name: "Escherichia", href: "/view/Taxonomy/561#view_tab=overview"},
        {name: "Francisella", href: "/view/Taxonomy/262#view_tab=overview"},
        {name: "Helicobacter", href: "/view/Taxonomy/209#view_tab=overview"},
        {name: "Listeria", href: "/view/Taxonomy/1637#view_tab=overview"},
        {name: "Mycobacterium", href: "/view/Taxonomy/1763#view_tab=overview"},
        {name: "Pseudomonas", href: "/view/Taxonomy/286#view_tab=overview"},
        {name: "Rickettsia", href: "/view/Taxonomy/780#view_tab=overview"},
        {name: "Salmonella", href: "/view/Taxonomy/590#view_tab=overview"},
        {name: "Shigella", href: "/view/Taxonomy/620#view_tab=overview"},
        {name: "Staphylococcus", href: "/view/Taxonomy/1279#view_tab=overview"},
        {name: "Streptococcus", href: "/view/Taxonomy/1301#view_tab=overview"},
        {name: "Vibrio", href: "/view/Taxonomy/662#view_tab=overview"},
        {name: "Yersinia", href: "/view/Taxonomy/629#view_tab=overview"}
    ]

    var virus = [
        {name: "Adenoviridae", href: "/view/Taxonomy/10508#view_tab=overview"},
        {name: "Asfarviridae", href: "/view/Taxonomy/137992#view_tab=overview"},
        {name: "Bunyavirales", href: "/view/Taxonomy/1980410#view_tab=overview"},
        {name: "Caliciviridae", href: "/view/Taxonomy/11974#view_tab=overview"},
        {name: "Coronaviridae", href: "/view/Taxonomy/11118#view_tab=overview"},
        {name: "Filoviridae", href: "/view/Taxonomy/11266#view_tab=overview"},
        {name: "Flaviviridae", href: "/view/Taxonomy/11050#view_tab=overview"},
        {name: "Hepadnaviridae", href: "/view/Taxonomy/10404#view_tab=overview"},
        {name: "Hepeviridae", href: "/view/Taxonomy/291484#view_tab=overview"},
        {name: "Herpesvirales", href: "/view/Taxonomy/548681#view_tab=overview"},
        {name: "Orthomyxoviridae", href: "/view/Taxonomy/11308#view_tab=overview"},
        {name: "Paramyxoviridae", href: "/view/Taxonomy/11158#view_tab=overview"},
        {name: "Parvoviridae", href: "/view/Taxonomy/10780#view_tab=overview"},
        {name: "Picornaviridae", href: "/view/Taxonomy/12058#view_tab=overview"},
        {name: "Pneumoviridae", href: "/view/Taxonomy/11244#view_tab=overview"},
        {name: "Polyomaviridae", href: "/view/Taxonomy/151341#view_tab=overview"},
        {name: "Poxviridae", href: "/view/Taxonomy/10240#view_tab=overview"},
        {name: "Reovirales", href: "/view/Taxonomy/2732541#view_tab=overview"},
        {name: "Rhabdoviridae", href: "/view/Taxonomy/11270#view_tab=overview"},
        {name: "Togaviridae", href: "/view/Taxonomy/11018#view_tab=overview"},
    ]

    var featured_virus = [
        {name: "Bacteriophages", href: "/view/GenomeList/?eq(genome_name,phage)"},
        {name: "Dengue virus", href: "/view/Taxonomy/12637#view_tab=overview"},
        {name: "Ebolavirus", href: "/view/Taxonomy/186536#view_tab=overview"},
        {name: "Enterovirus", href: "/view/Taxonomy/12059#view_tab=overview"},
        {name: "Hepacivirus", href: "/view/Taxonomy/11102#view_tab=overview"},
        {name: "Influenza A virus", href: "/view/Taxonomy/11320#view_tab=overview"},
        {name: "Mammarenavirus lassaense", href: "/view/Taxonomy/3052310#view_tab=overview"},
        {name: "Monkeypox virus", href: "/view/Taxonomy/10244#view_tab=overview"},
        {name: "SARS-CoV-2", href: "/view/Taxonomy/2697049#view_tab=overview"},
        {name: "Zika virus", href: "/view/Taxonomy/64320#view_tab=overview"},
    ]


    var servicesMiddle = Math.round(services.length / 2);
    var virusMiddle = Math.round(virus.length / 2);
    var featuredVirusMiddle = Math.round(featured_virus.length / 2);
    var subMenuColumnCount = Math.round(services.length / 8);
    var isProd = request.applicationOptions.appLabel == "";
    %>
    <div id="bv-brc-header" role="heading" aria-level="1">

        <div id="bv-brc-header-container">
            <div class="nav-logo">
                <a class="nav-logo-link" href="/">
                    <!-- <img class="bv-brc-logo" src="/patric/images/bv-brc/bv-brc-header-logo.png" alt="BV-BRC Logo" style="height: 28px;"/> -->
                    <!-- <span><i style="color: #ffffff; font-size: 12px; padding-left: 2px;"><%- request.package.version %><%- request.applicationOptions.appLabel || " " %></i></span> -->
                    dev.maage
                </a>
            </div>

            <div id="header-menu">
                <!-- <div class="topMenuButton showOnLoad dijitHidden" data-dojo-type="dijit/form/DropDownButton">
                    <span></span>
                </div> -->
                <div class="topMenuButton showOnLoad dijitHidden" data-dojo-type="dijit/form/DropDownButton">

                    <span class="font-normal">Organisms</span>
                    <div data-dojo-type="p3/widget/TooltipDialog">
                        <div class="menuHeader" style="padding-right: 20px;">Bacteria</div>
                        <div><a href="/view/Taxonomy/194#view_tab=overview">Campylobacter</a></div>
                        <div><a href="/view/Taxonomy/1637#view_tab=overview">Listeria</a></div>
                        <div><a href="/view/Taxonomy/561#view_tab=overview">Escherichia</a></div>
                        <div><a href="/view/Taxonomy/590#view_tab=overview">Salmonella</a></div>

                        <div class="menuHeader" style="padding-right: 20px;">Viruses</div>
                        <div><a href="/view/Taxonomy/11320#view_tab=overview">Influenza A virus</a></div>
                        <div><a href="/view/Taxonomy/2697049#view_tab=overview">SARS-CoV-2</a></div>
                        <div><a href="/view/Taxonomy/10244#view_tab=overview">Monkeypox virus</a></div>
                        <div><a href="/view/Taxonomy/10239">All Viruses</a></div>

                        <div class="menuHeader" style="padding-right: 20px;">Metagenomes</div>
                        <div><a href="/view/Taxonomy/1637#view_tab=overview">SARS-CoV-2 Wastewater</a></div>
                        <div><a href="#">H5N1 Wastewater</a></div>
                        <div><a href="#">All Metagenomes</a></div>
                    </div>
                    </div>

                <div class="topMenuButton showOnLoad dijitHidden" data-dojo-type="dijit/form/DropDownButton">
                    <span>Searches</span>

                    <div data-dojo-type="p3/widget/TooltipDialog">
                        <div class="menuHeader" style="padding-right: 20px;">Advanced Search</div>
                        <div><a class="navigationLink" href="/searches/TaxaSearch">Taxa</a></div>
                        <div><a class="navigationLink" href="/searches/GenomeSearch">Genomes</a></div>
                        <div><a class="navigationLink" href="/searches/GenomicFeatureSearch">Features</a></div>
                        <div><a class="navigationLink" href="/searches/ProteinSearch">Proteins</a></div>
                        <div><a class="navigationLink" href="/searches/SpecialtyGeneSearch">Specialty Genes</a></div>

                        <div><a class="navigationLink" href="/searches/PathwaySearch">Pathways</a></div>
                        <div><a class="navigationLink" href="/searches/SubsystemSearch">Subsystems</a></div>
                    </div>
                </div>






                <div class="topMenuButton showOnLoad dijitHidden" data-dojo-type="dijit/form/DropDownButton">
                    <span>Tools</span>
                </div>
                <div class="topMenuButton showOnLoad dijitHidden" data-dojo-type="dijit/form/DropDownButton">
                    <span>Workspaces</span>
                </div>
                <div class="topMenuButton showOnLoad dijitHidden" data-dojo-type="dijit/form/DropDownButton">
                    <span>Docs</span>
                </div>
                <div class="topMenuButton showOnLoad dijitHidden" data-dojo-type="dijit/form/DropDownButton">
                    <span>About</span>
                </div>
            </div>

            <!-- <div id="p3header-search" style="width: 120px;flex-grow: 0.85;margin-right: 10px;">
                <input style="width:100%;font-size:1em;" class="showOnLoad dijitHidden"
                       data-dojo-type="p3/widget/GlobalSearch"/>
            </div> -->

            <div class="navbar-flex-space" style="flex-grow: 0.85;"></div>

            <div id="bv-brc-right-header">
                <div class="HideWithAuth authLinks showOnLoad dijitHidden">
                    <a class="auth-button navigationLink" href="/register">Register</a>
                    <a class="auth-button navigationLink" href="/login">Sign In</a>
                </div>


                <div class="showOnLoad ShowWithAuth dijitHidden">
                    <div class="showOnLoad ShowWithAuth dijitHidden topMenuButtonIcon"
                        data-dojo-type="dijit/form/DropDownButton"
                        data-dojo-props="iconClass:'icon-user fa-2x login-btn'">
                        <span></span>
                        <div class="warning_icon user_warning_icon icon-warning fa fa-1x"> </div>
                        <div data-dojo-type="p3/widget/TooltipDialog">
                            <div>Signed in as <span id="signedInAs" style="font-weight:bold;"></span></div>
                            <hr>
                            <div><a class="userProfile">Account Settings <i
                                        class="warning_icon account-settings-warning icon-warning fa fa-1x"
                                        style="vertical-align:middle;"> </i></a></div>
                            <div><a class="sulogin">SU Login</a></div>
                            <div><a class="suSwitchBack" onclick="window.App.suSwitchBack()" style="display:none">SU
                                    Switch Back</a></div>
                            <div><a class="logoutLink" onclick="window.App.logout()">Logout</a></div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>