/* ".inherited-styles-for-exported-element" is a generated class for the inherited styles of the exported element, feel free to rename it. */

:root {
    --maage-secondary-500: #528ca3;
    --maage-secondary-700: #385666;
    --maage-tertiary-500: #ecc187;
  }

  *, ::after, ::before {
    border: 0 solid #e5e7eb;
    box-sizing: border-box;
  }

  .inherited-styles-for-exported-element {
    font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    tab-size: 4;
  }

  a {
    color: inherit;
    text-decoration: inherit;
  }

  :disabled {
    cursor: default;
  }

  img {
    display: block;
    max-width: 100%;
    vertical-align: middle;
  }

  .mt-\[10px\] {
    margin-top: 10px;
  }

  .h-\[40px\] {
    height: 40px;
  }

  .font-poppins {
    font-family: Poppins, sans-serif;
  }

  .text-\[42px\] {
    font-size: 42px;
  }

  .font-light {
    font-weight: 300;
  }

  .font-semibold {
    font-weight: 600;
  }

  .text-\[var\(--maage-secondary-500\)\] {
    color: var(--maage-secondary-500);
  }

  .text-\[var\(--maage-secondary-700\)\] {
    color: var(--maage-secondary-700);
  }

  .text-\[var\(--maage-tertiary-500\)\] {
    color: var(--maage-tertiary-500);
  }

  /* ".inherited-styles-for-exported-element" is a generated class for the inherited styles of the exported element, feel free to rename it. */

:root {
    --maage-bg: #F9F7F2;
    --maage-dark-text: #1a1a1a;
    --maage-secondary-500: #528ca3;
    --maage-light-text: #fafafa;
  }

  *, ::after, ::before {
    --tw-ring-inset: ;
    --tw-ring-color: rgb(59 130 246 / 0.5);
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-shadow: 0 0 #0000;
  }

  ::after, ::before {
    --tw-ring-inset: inset;
  }

  *, ::after, ::before {
    border: 0 solid #e5e7eb;
    box-sizing: border-box;
  }

  .inherited-styles-for-exported-element {
    font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    tab-size: 4;
  }

  button {
    appearance: button;
    background-image: none;
    cursor: pointer;
    font-feature-settings: inherit;
    font-variation-settings: inherit;
    letter-spacing: inherit;
    line-height: inherit;
    margin-bottom: 0;
    margin-left: 0;
    margin-top: 0;
    text-transform: none;
  }

  :disabled {
    cursor: default;
  }

  .mr-2 {
    margin-right: .5rem;
  }

  .rounded-\[8px\] {
    border-radius: 8px;
  }

  .bg-\[var\(--maage-bg\)\] {
    background-color: var(--maage-bg);
  }

  .bg-\[var\(--maage-secondary-500\)\] {
    background-color: var(--maage-secondary-500);
  }

  .px-10 {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }

  .py-1\.5 {
    padding-bottom: .375rem;
    padding-top: .375rem;
  }

  .font-poppins {
    font-family: Poppins, sans-serif;
  }

  .text-\[14px\] {
    font-size: 14px;
  }

  .font-normal {
    font-weight: 400;
  }

  .text-\[var\(--maage-dark-text\)\] {
    color: var(--maage-dark-text);
  }

  .text-\[var\(--maage-light-text\)\] {
    color: var(--maage-light-text);
  }

  .no-underline {
    text-decoration-line: none;
  }

  .ring-1 {
    box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000);
    --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(1px + var(--tw-ring-offset-width)) var(--tw-ring-color);
    --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
  }

  .ring-inset {
    --tw-ring-inset: inset;
  }

  .ring-\[var\(--maage-dark-text\)\] {
    --tw-ring-color: var(--maage-dark-text);
  }

  .ring-gray-800 {
    --tw-ring-color: rgb(31 41 55 / var(--tw-ring-opacity, 1));
    --tw-ring-opacity: 1;
  }

  .hover\:opacity-85:hover {
    opacity: .85;
  }

  /* ".inherited-styles-for-exported-element" is a generated class for the inherited styles of the exported element, feel free to rename it. */

:root {
    --fa-style: ;
    --fa-style-family: ;
    --fa-display: ;
    --fa: ;
  }

  .fa {
    -webkit-font-smoothing: antialiased;
    display: var(--fa-display, inline-block);
    font-family: var(--fa-style-family, "Font Awesome 6 Pro");
    font-variant: normal;
    font-variant-emoji: normal;
    font-weight: var(--fa-style, 900);
    line-height: 1;
    text-rendering: auto;
  }

  .fa::before {
    content: var(--fa);
  }

  .fa-1x {
    font-size: 1em;
  }

  .fa-2x {
    font-size: 2em;
  }

  *, ::after, ::before {
    border: 0 solid #e5e7eb;
    box-sizing: border-box;
  }

  .inherited-styles-for-exported-element {
    font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    tab-size: 4;
  }

  input {
    color: inherit;
    font-family: inherit;
    font-feature-settings: inherit;
    font-size: 100%;
    font-variation-settings: inherit;
    font-weight: inherit;
    letter-spacing: inherit;
    line-height: inherit;
    margin: 0;
    padding: 0;
  }

  input:where([type="button"]), input:where([type="reset"]), input:where([type="submit"]) {
    appearance: button;
    background-color: transparent;
    background-image: none;
  }

  input::placeholder {
    color: #9ca3af;
    opacity: 1;
  }

  [role=button] {
    cursor: pointer;
  }

  :disabled {
    cursor: default;
  }

/* ".inherited-styles-for-exported-element" is a generated class for the inherited styles of the exported element, feel free to rename it. */

:root {
    --tw-shadow-color: ;
  }

  .inherited-styles-for-exported-element {
    color: hsl(222.2 84% 4.9%);
    font-family: Inter, sans-serif;
    tab-size: 4;
  }

  h3 {
    font-family: Poppins, sans-serif;
  }

  *, ::after, ::before {
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
    --tw-shadow: 0 0 #0000;
  }

  *, ::after, ::before {
    border: 0 solid #e5e7eb;
    box-sizing: border-box;
  }

  a {
    text-decoration: inherit;
  }

  h3, p {
    margin: 0;
  }

  :disabled {
    cursor: default;
  }

  svg {
    display: block;
    vertical-align: middle;
  }

  .mb-3 {
    margin-bottom: .75rem;
  }

  .ml-1 {
    margin-left: .25rem;
  }

  .mt-2 {
    margin-top: .5rem;
  }

  .flex {
    display: flex;
  }

  .h-3\.5 {
    height: .875rem;
  }

  .w-3\.5 {
    width: .875rem;
  }

  .items-center {
    align-items: center;
  }

  .justify-between {
    justify-content: space-between;
  }

  .overflow-hidden {
    overflow: hidden;
  }

  .rounded-full {
    border-radius: 9999px;
  }

  .rounded-lg {
    border-radius: .5rem;
  }

  .border {
    border-width: 1px;
  }

  .border-gray-100 {
    border-color: #f3f4f6;
  }

  .bg-\[\#ecc187\] {
    background-color: rgb(236 193 135/var(--tw-bg-opacity, 1));
    --tw-bg-opacity: 1;
  }

  .bg-white {
    background-color: rgb(255 255 255/var(--tw-bg-opacity, 1));
    --tw-bg-opacity: 1;
  }

  .bg-white\/20 {
    background-color: rgba(255, 255, 255, .2);
  }

  .p-4 {
    padding: 1rem;
  }

  .px-2 {
    padding-left: .5rem;
    padding-right: .5rem;
  }

  .py-0\.5 {
    padding-bottom: .125rem;
    padding-top: .125rem;
  }

  .text-lg {
    font-size: 1.125rem;
    line-height: 1.75rem;
  }

  .text-sm {
    font-size: .875rem;
    line-height: 1.25rem;
  }

  .text-xs {
    font-size: .75rem;
    line-height: 1rem;
  }

  .font-medium {
    font-weight: 500;
  }

  .font-semibold {
    font-weight: 600;
  }

  .text-\[\#ecc187\] {
    color: rgb(236 193 135/var(--tw-text-opacity, 1));
    --tw-text-opacity: 1;
  }

  .text-gray-500 {
    --tw-text-opacity: 1;
    color: rgb(107 114 128/var(--tw-text-opacity, 1));
  }

  .text-white {
    color: rgb(255 255 255/var(--tw-text-opacity, 1));
    --tw-text-opacity: 1;
  }

  .shadow-sm {
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    --tw-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
  }

  .transition-all {
    transition: all 150ms cubic-bezier(.4, 0, .2, 1);
  }

  .hover\:text-\[\#d9a966\]:hover {
    color: rgb(217 169 102/var(--tw-text-opacity, 1));
    --tw-text-opacity: 1;
  }

  .hover\:shadow-md:hover {
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    --tw-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  }



.bv-brc-header-container div.menuHeader {
    background-color: #65a48a;
  }
