:root {
  --maage-primary-50: #f2f7f5;
  --maage-primary-100: #deede4;
  --maage-primary-200: #c0dacc;
  --maage-primary-300: #a6c9b8;
  --maage-primary-400: #689f86;
  --maage-primary-500: #4d846d;
  --maage-primary-600: #366855;
  --maage-primary-700: #2a5243;
  --maage-primary-800: #234236;
  --maage-primary-900: #1e362e;
  --maage-primary-950: #101e1a;

  --maage-secondary-50: #f2f8f9;
  --maage-secondary-100: #deebef;
  --maage-secondary-200: #c0d9e1;
  --maage-secondary-300: #94bdcc;
  --maage-secondary-400: #548fa6;
  --maage-secondary-500: #467d94;
  --maage-secondary-600: #3c677e;
  --maage-secondary-700: #365668;
  --maage-secondary-800: #334a57;
  --maage-secondary-900: #2e3f4b;
  --maage-secondary-950: #1b2831;

  --maage-tertiary-50: #fefcf6;
  --maage-tertiary-100: #fcf7e8;
  --maage-tertiary-200: #f9eccd;
  --maage-tertiary-300: #f5e0b2;
  --maage-tertiary-400: #f0c98e;
  --maage-tertiary-500: #ecc188;
  --maage-tertiary-600: #e7b279;
  --maage-tertiary-700: #d78f50;
  --maage-tertiary-800: #cd793c;
  --maage-tertiary-900: #aa6631;
  --maage-tertiary-950: #874f2c;

  --maage-extra-one-50: #f9f9fa;
  --maage-extra-one-100: #efeff5;
  --maage-extra-one-200: #dfdfec;
  --maage-extra-one-300: #d1d0e2;
  --maage-extra-one-400: #bfbdd6;
  --maage-extra-one-500: #a9a5c5;
  --maage-extra-one-600: #978fb5;
  --maage-extra-one-700: #8279a1;
  --maage-extra-one-800: #69618b;
  --maage-extra-one-900: #585172;
  --maage-extra-one-950: #38354c;

  --maage-extra-two-50: #fcf6f4;
  --maage-extra-two-100: #faeae9;
  --maage-extra-two-200: #f4dad7;
  --maage-extra-two-300: #ebbbb6;
  --maage-extra-two-400: #dd928d;
  --maage-extra-two-500: #cb6a67;
  --maage-extra-two-600: #bc4749;
  --maage-extra-two-700: #9a373b;
  --maage-extra-two-800: #803338;
  --maage-extra-two-900: #712a32;
  --maage-extra-two-950: #3e1316;

  --maage-gray-50: #f6f6f6;
  --maage-gray-100: #ededed;
  --maage-gray-200: #dedede;
  --maage-gray-300: #c9c9c9;
  --maage-gray-400: #adadad;
  --maage-gray-500: #8f8f8f;
  --maage-gray-600: #757575;
  --maage-gray-700: #595959;
  --maage-gray-800: #454545;
  --maage-gray-900: #333333;
  --maage-gray-950: #262626;

  --maage-natural-50: #fdfdfc;
  --maage-natural-100: #fafaf6;
  --maage-natural-200: #f5f4ef;
  --maage-natural-300: #efeee4;
  --maage-natural-400: #e9e6da;
  --maage-natural-500: #edeae0;
  --maage-natural-600: #dcd5c6;
  --maage-natural-700: #c3b59c;
  --maage-natural-800: #aa987b;
  --maage-natural-900: #927f60;
  --maage-natural-950: #4d4031;


  --maage-light-text: #fafafa;
  --maage-dark-text: #1a1a1a;

  --maage-bg: #fdfafc;

  --color-neutral-50: #fafafa;
  --color-neutral-100: #fafafa;
  --color-neutral-200: #fafafa;
  --color-neutral-300: #fafafa;
  --color-neutral-400: #fafafa;
  --color-neutral-500: #fafafa;
  --color-neutral-600: #fafafa;


  --color-neutral-700: #fafafa;
  --color-neutral-800: #fafafa;
  --color-neutral-900: #fafafa;

  --primary-text: #1c1f21;

  --shark-50: #f6f6f6;
  --shark-100: #e7e7e7;
  --shark-200: #d1d1d1;
  --shark-300: #b0b0b0;
  --shark-400: #888888;
  --shark-500: #6d6d6d;
  --shark-600: #5d5d5d;
  --shark-700: #4f4f4f;
  --shark-800: #454545;
  --shark-900: #3d3d3d;
  --shark-950: #1f1f1f;

  --linen-50: #fdfdfc;
  --linen-100: #fafaf6;
  --linen-200: #f5f4ef;
  --linen-300: #efeee4;
  --linen-400: #e9e6da;
  --linen-500: #edeae0;
  --linen-600: #dcd5c6;
  --linen-700: #c3b59c;
  --linen-800: #aa987b;
  --linen-900: #927f60;
  --linen-950: #4d4031;

  --violet-50: #f8f5f8;
  --violet-100: #f0e9f2;
  --violet-200: #e0d1e5;
  --violet-300: #c6adce;
  --violet-400: #a47dae;
  --violet-500: #563c5c;
  --violet-600: #433347;
  --violet-700: #39293b;
  --violet-800: #2e2230;
  --violet-900: #2a202b;
  --violet-950: #180f19;

  --atlantic-50: #f2f7f9;
  --atlantic-100: #deebef;
  --atlantic-200: #c1d9e0;
  --atlantic-300: #96bdca;
  --atlantic-400: #6498ac;
  --atlantic-500: #528ca3;
  --atlantic-600: #3f677b;
  --atlantic-700: #385666;
  --atlantic-800: #344956;
  --atlantic-900: #2f3f4a;
  --atlantic-950: #1c2830;

  --sangria-50: #faf1f2;
  --sangria-100: #f6e3e4;
  --sangria-200: #eccbce;
  --sangria-300: #dd9fa5;
  --sangria-400: #cb6977;
  --sangria-500: #883440;
  --sangria-600: #6b303c;
  --sangria-700: #5a2531;
  --sangria-800: #50232f;
  --sangria-900: #411e28;
  --sangria-950: #240e14;

  --harvest-50: #fefcf5;
  --harvest-100: #fcf7e8;
  --harvest-200: #f8eccf;
  --harvest-300: #f4dfb2;
  --harvest-400: #efca91;
  --harvest-500: #ecc187;
  --harvest-600: #e5aa6c;
  --harvest-700: #da8740;
  --harvest-800: #be6a2e;
  --harvest-900: #9a5928;
  --harvest-950: #522b14;

  --thyme-50: #fcfdfc;
  --thyme-100: #f7faf8;
  --thyme-200: #eff5f1;
  --thyme-300: #e6eeea;
  --thyme-400: #c6d6ce;
  --thyme-500: #9cc2af;
  --thyme-600: #67a789;
  --thyme-700: #50886e;
  --thyme-800: #436d5a;
  --thyme-900: #385a4d;
  --thyme-950: #1e322b;

}

  *, ::after, ::before {
    border: 0 solid #e5e7eb;
    box-sizing: border-box;
  }


  .inherited-styles-for-exported-element {
    font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    tab-size: 4;
  }

  a {
    color: inherit;
    text-decoration: inherit;
  }

  :disabled {
    cursor: default;
  }

  img {
    display: block;
    max-width: 100%;
    vertical-align: middle;
  }

  .mt-\[10px\] {
    margin-top: 10px;
  }

  .h-\[40px\] {
    height: 40px;
  }

  .font-poppins {
    font-family: Poppins, sans-serif;
  }

  .text-\[42px\] {
    font-size: 42px;
  }

  .font-light {
    font-weight: 300;
  }

  .font-semibold {
    font-weight: 600;
  }

  .text-\[var\(--maage-secondary-500\)\] {
    color: var(--maage-secondary-500);
  }

  .text-\[var\(--maage-secondary-700\)\] {
    color: var(--maage-secondary-700);
  }

  .text-\[var\(--maage-tertiary-500\)\] {
    color: var(--maage-tertiary-500);
  }

  /* ".inherited-styles-for-exported-element" is a generated class for the inherited styles of the exported element, feel free to rename it. */

:root {
    --maage-bg: #F9F7F2;
    --maage-dark-text: #1a1a1a;
    --maage-secondary-500: #528ca3;
    --maage-light-text: #fafafa;
  }

  *, ::after, ::before {
    --tw-ring-inset: ;
    --tw-ring-color: rgb(59 130 246 / 0.5);
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-shadow: 0 0 #0000;
  }

  ::after, ::before {
    --tw-ring-inset: inset;
  }

  *, ::after, ::before {
    border: 0 solid #e5e7eb;
    box-sizing: border-box;
  }

  .inherited-styles-for-exported-element {
    font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    tab-size: 4;
  }

  button {
    appearance: button;
    background-image: none;
    cursor: pointer;
    font-feature-settings: inherit;
    font-variation-settings: inherit;
    letter-spacing: inherit;
    line-height: inherit;
    margin-bottom: 0;
    margin-left: 0;
    margin-top: 0;
    text-transform: none;
  }

  :disabled {
    cursor: default;
  }

  .mr-2 {
    margin-right: .5rem;
  }

  .rounded-\[8px\] {
    border-radius: 8px;
  }

  .bg-\[var\(--maage-bg\)\] {
    background-color: var(--maage-bg);
  }

  .bg-\[var\(--maage-secondary-500\)\] {
    background-color: var(--maage-secondary-500);
  }

  .px-10 {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }

  .py-1\.5 {
    padding-bottom: .375rem;
    padding-top: .375rem;
  }

  .font-poppins {
    font-family: Poppins, sans-serif;
  }

  .text-\[14px\] {
    font-size: 14px;
  }

  .font-normal {
    font-weight: 400;
  }

  .text-\[var\(--maage-dark-text\)\] {
    color: var(--maage-dark-text);
  }

  .text-\[var\(--maage-light-text\)\] {
    color: var(--maage-light-text);
  }

  .no-underline {
    text-decoration-line: none;
  }

  .ring-1 {
    box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000);
    --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(1px + var(--tw-ring-offset-width)) var(--tw-ring-color);
    --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
  }

  .ring-inset {
    --tw-ring-inset: inset;
  }

  .ring-\[var\(--maage-dark-text\)\] {
    --tw-ring-color: var(--maage-dark-text);
  }

  .ring-gray-800 {
    --tw-ring-color: rgb(31 41 55 / var(--tw-ring-opacity, 1));
    --tw-ring-opacity: 1;
  }

  .hover\:opacity-85:hover {
    opacity: .85;
  }

  /* ".inherited-styles-for-exported-element" is a generated class for the inherited styles of the exported element, feel free to rename it. */

:root {
    --fa-style: ;
    --fa-style-family: ;
    --fa-display: ;
    --fa: ;
  }

  .fa {
    -webkit-font-smoothing: antialiased;
    display: var(--fa-display, inline-block);
    font-family: var(--fa-style-family, "Font Awesome 6 Pro");
    font-variant: normal;
    font-variant-emoji: normal;
    font-weight: var(--fa-style, 900);
    line-height: 1;
    text-rendering: auto;
  }

  .fa::before {
    content: var(--fa);
  }

  .fa-1x {
    font-size: 1em;
  }

  .fa-2x {
    font-size: 2em;
  }

  *, ::after, ::before {
    border: 0 solid #e5e7eb;
    box-sizing: border-box;
  }

  .inherited-styles-for-exported-element {
    font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    tab-size: 4;
  }

  input {
    color: inherit;
    font-family: inherit;
    font-feature-settings: inherit;
    font-size: 100%;
    font-variation-settings: inherit;
    font-weight: inherit;
    letter-spacing: inherit;
    line-height: inherit;
    margin: 0;
    padding: 0;
  }

  input:where([type="button"]), input:where([type="reset"]), input:where([type="submit"]) {
    appearance: button;
    background-color: transparent;
    background-image: none;
  }

  input::placeholder {
    color: #9ca3af;
    opacity: 1;
  }

  [role=button] {
    cursor: pointer;
  }

  :disabled {
    cursor: default;
  }

/* ".inherited-styles-for-exported-element" is a generated class for the inherited styles of the exported element, feel free to rename it. */

:root {
    --tw-shadow-color: ;
  }

  .inherited-styles-for-exported-element {
    color: hsl(222.2 84% 4.9%);
    font-family: Inter, sans-serif;
    tab-size: 4;
  }

  h3 {
    font-family: Poppins, sans-serif;
  }

  *, ::after, ::before {
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
    --tw-shadow: 0 0 #0000;
  }

  *, ::after, ::before {
    border: 0 solid #e5e7eb;
    box-sizing: border-box;
  }

  a {
    text-decoration: inherit;
  }

  h3, p {
    margin: 0;
  }

  :disabled {
    cursor: default;
  }

  svg {
    display: block;
    vertical-align: middle;
  }

  .mb-3 {
    margin-bottom: .75rem;
  }

  .ml-1 {
    margin-left: .25rem;
  }

  .mt-2 {
    margin-top: .5rem;
  }

  .flex {
    display: flex;
  }

  .h-3\.5 {
    height: .875rem;
  }

  .w-3\.5 {
    width: .875rem;
  }

  .items-center {
    align-items: center;
  }

  .justify-between {
    justify-content: space-between;
  }

  .overflow-hidden {
    overflow: hidden;
  }

  .rounded-full {
    border-radius: 9999px;
  }

  .rounded-lg {
    border-radius: .5rem;
  }

  .border {
    border-width: 1px;
  }

  .border-gray-100 {
    border-color: #f3f4f6;
  }

  .bg-\[\#ecc187\] {
    background-color: rgb(236 193 135/var(--tw-bg-opacity, 1));
    --tw-bg-opacity: 1;
  }

  .bg-white {
    background-color: rgb(255 255 255/var(--tw-bg-opacity, 1));
    --tw-bg-opacity: 1;
  }

  .bg-white\/20 {
    background-color: rgba(255, 255, 255, .2);
  }

  .p-4 {
    padding: 1rem;
  }

  .px-2 {
    padding-left: .5rem;
    padding-right: .5rem;
  }

  .py-0\.5 {
    padding-bottom: .125rem;
    padding-top: .125rem;
  }

  .text-lg {
    font-size: 1.125rem;
    line-height: 1.75rem;
  }

  .text-sm {
    font-size: .875rem;
    line-height: 1.25rem;
  }

  .text-xs {
    font-size: .75rem;
    line-height: 1rem;
  }

  .font-medium {
    font-weight: 500;
  }

  .font-semibold {
    font-weight: 600;
  }

  .text-\[\#ecc187\] {
    color: rgb(236 193 135/var(--tw-text-opacity, 1));
    --tw-text-opacity: 1;
  }

  .text-gray-500 {
    --tw-text-opacity: 1;
    color: rgb(107 114 128/var(--tw-text-opacity, 1));
  }

  .text-white {
    color: rgb(255 255 255/var(--tw-text-opacity, 1));
    --tw-text-opacity: 1;
  }

  .shadow-sm {
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    --tw-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
  }

  .transition-all {
    transition: all 150ms cubic-bezier(.4, 0, .2, 1);
  }

  .hover\:text-\[\#d9a966\]:hover {
    color: rgb(217 169 102/var(--tw-text-opacity, 1));
    --tw-text-opacity: 1;
  }

  .hover\:shadow-md:hover {
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    --tw-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  }



.bv-brc-header-container div.menuHeader {
    background-color: #65a48a;
  }
