:root {
  --maage-primary-50: #f2f7f5;
  --maage-primary-100: #deede4;
  --maage-primary-200: #c0dacc;
  --maage-primary-300: #a6c9b8;
  --maage-primary-400: #689f86;
  --maage-primary-500: #4d846d;
  --maage-primary-600: #366855;
  --maage-primary-700: #2a5243;
  --maage-primary-800: #234236;
  --maage-primary-900: #1e362e;
  --maage-primary-950: #101e1a;

  --maage-secondary-50: #f2f8f9;
  --maage-secondary-100: #deebef;
  --maage-secondary-200: #c0d9e1;
  --maage-secondary-300: #94bdcc;
  --maage-secondary-400: #548fa6;
  --maage-secondary-500: #467d94;
  --maage-secondary-600: #3c677e;
  --maage-secondary-700: #365668;
  --maage-secondary-800: #334a57;
  --maage-secondary-900: #2e3f4b;
  --maage-secondary-950: #1b2831;

  --maage-tertiary-50: #fefcf6;
  --maage-tertiary-100: #fcf7e8;
  --maage-tertiary-200: #f9eccd;
  --maage-tertiary-300: #f5e0b2;
  --maage-tertiary-400: #f0c98e;
  --maage-tertiary-500: #ecc188;
  --maage-tertiary-600: #e7b279;
  --maage-tertiary-700: #d78f50;
  --maage-tertiary-800: #cd793c;
  --maage-tertiary-900: #aa6631;
  --maage-tertiary-950: #874f2c;

  --maage-extra-one-50: #f9f9fa;
  --maage-extra-one-100: #efeff5;
  --maage-extra-one-200: #dfdfec;
  --maage-extra-one-300: #d1d0e2;
  --maage-extra-one-400: #bfbdd6;
  --maage-extra-one-500: #a9a5c5;
  --maage-extra-one-600: #978fb5;
  --maage-extra-one-700: #8279a1;
  --maage-extra-one-800: #69618b;
  --maage-extra-one-900: #585172;
  --maage-extra-one-950: #38354c;

  --maage-extra-two-50: #fcf6f4;
  --maage-extra-two-100: #faeae9;
  --maage-extra-two-200: #f4dad7;
  --maage-extra-two-300: #ebbbb6;
  --maage-extra-two-400: #dd928d;
  --maage-extra-two-500: #cb6a67;
  --maage-extra-two-600: #bc4749;
  --maage-extra-two-700: #9a373b;
  --maage-extra-two-800: #803338;
  --maage-extra-two-900: #712a32;
  --maage-extra-two-950: #3e1316;

  --maage-gray-50: #f6f6f6;
  --maage-gray-100: #ededed;
  --maage-gray-200: #dedede;
  --maage-gray-300: #c9c9c9;
  --maage-gray-400: #adadad;
  --maage-gray-500: #8f8f8f;
  --maage-gray-600: #757575;
  --maage-gray-700: #595959;
  --maage-gray-800: #454545;
  --maage-gray-900: #333333;
  --maage-gray-950: #262626;

  --maage-natural-50: #fdfdfc;
  --maage-natural-100: #fafaf6;
  --maage-natural-200: #f5f4ef;
  --maage-natural-300: #efeee4;
  --maage-natural-400: #e9e6da;
  --maage-natural-500: #edeae0;
  --maage-natural-600: #dcd5c6;
  --maage-natural-700: #c3b59c;
  --maage-natural-800: #aa987b;
  --maage-natural-900: #927f60;
  --maage-natural-950: #4d4031;

}

div.flex.items-start.gap-3.p-3.rounded-lg.bg-primary-50.border.border-primary-100 > div.flex-shrink-0.w-10.h-10.bg-primary-200.rounded-lg.flex.items-center.justify-center.text-primary-700 {
    color: #365668;
    background-color: #F2F8F5;
  }

  div.flex.items-start.gap-3.p-3.rounded-lg.hover/:bg-gray-50.transition-colors:nth-child(2) > div.flex-shrink-0.w-10.h-10.bg-primary-100.rounded-lg.flex.items-center.justify-center.text-primary-700 {
    color: #365668;
    background-color: #FFFFFF;
  }

  div.flex-shrink-0.w-10.h-10.bg-primary-100.rounded-lg.flex.items-center.justify-center.text-primary-700 > div.text-center.leading-none > div.text-lg.font-bold {
    color: #334A57;
  }

  div.flex.items-start.gap-3.p-3.rounded-lg.hover/:bg-gray-50.transition-colors:nth-child(3) > div.flex-shrink-0.w-10.h-10.bg-primary-100.rounded-lg.flex.items-center.justify-center.text-primary-700 > div.text-center.leading-none {
    color: #334A57;
  }

  div.flex.items-start.gap-3.p-3.rounded-lg.hover/:bg-gray-50.transition-colors:nth-child(3) > div.flex-shrink-0.w-10.h-10.bg-primary-100.rounded-lg.flex.items-center.justify-center.text-primary-700 {
    color: #334A57;
    background-color: #FFFFFF;
  }

  div.space-y-4 > div.flex.items-start.gap-3.p-3.rounded-lg.bg-primary-50.border.border-primary-100 {
    background-color: #F2F8F5;
  }


.login-btn,
.register-btn {
  text-decoration: none;;
  padding: 8px 28px;
  border-radius: 6px;
  font-family: 'Poppins', sans-serif;
  font-size: 14px!important;
  font-weight: 500;
  transition: all 0.3s ease;
  position: relative;
  overflow: hidden;
  min-width: 125px;
  text-align: center;
}

.login-btn::before,
.register-btn::before {
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.2), transparent);
  transition: left 0.7s ease;
}

.login-btn:hover::before,
.register-btn:hover::before {
  left: 100%;
}

.login-btn {
  color: #fafafa;
  background-color: var(--maage-bg);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.login-btn:hover {
  color: #fafafa;
  background-color: #477e93;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.register-btn {
  color: #fafafa!important;
  font-weight: 500;
  font-size: 14px!important;
  background-color: var(--maage-secondary-600);
}

.register-btn:hover {
  background-color: #477e93;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}