div.flex.items-start.gap-3.p-3.rounded-lg.bg-primary-50.border.border-primary-100 > div.flex-shrink-0.w-10.h-10.bg-primary-200.rounded-lg.flex.items-center.justify-center.text-primary-700 {
    color: #365668;
    background-color: #F2F8F5;
  }

  div.flex.items-start.gap-3.p-3.rounded-lg.hover/:bg-gray-50.transition-colors:nth-child(2) > div.flex-shrink-0.w-10.h-10.bg-primary-100.rounded-lg.flex.items-center.justify-center.text-primary-700 {
    color: #365668;
    background-color: #FFFFFF;
  }

  div.flex-shrink-0.w-10.h-10.bg-primary-100.rounded-lg.flex.items-center.justify-center.text-primary-700 > div.text-center.leading-none > div.text-lg.font-bold {
    color: #334A57;
  }

  div.flex.items-start.gap-3.p-3.rounded-lg.hover/:bg-gray-50.transition-colors:nth-child(3) > div.flex-shrink-0.w-10.h-10.bg-primary-100.rounded-lg.flex.items-center.justify-center.text-primary-700 > div.text-center.leading-none {
    color: #334A57;
  }

  div.flex.items-start.gap-3.p-3.rounded-lg.hover/:bg-gray-50.transition-colors:nth-child(3) > div.flex-shrink-0.w-10.h-10.bg-primary-100.rounded-lg.flex.items-center.justify-center.text-primary-700 {
    color: #334A57;
    background-color: #FFFFFF;
  }

  div.space-y-4 > div.flex.items-start.gap-3.p-3.rounded-lg.bg-primary-50.border.border-primary-100 {
    background-color: #F2F8F5;
  }


.login-btn,
.register-btn {
  text-decoration: none;;
  padding: 8px 28px;
  border-radius: 6px;
  font-family: 'Poppins', sans-serif;
  font-size: 14px!important;
  font-weight: 500;
  transition: all 0.3s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: relative;
  overflow: hidden;
  min-width: 125px;
  text-align: center;
}

.login-btn::before,
.register-btn::before {
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.2), transparent);
  transition: left 0.7s ease;
}

.login-btn:hover::before,
.register-btn:hover::before {
  left: 100%;
}

.login-btn {
  color: #fafafa;
  background-color: var(--maage-bg);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.login-btn:hover {
  color: #fafafa;
  background-color: #477e93;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.register-btn {
  color: #fafafa!important;
  font-weight: 500;
  font-size: 14px!important;
  background-color: var(--maage-secondary-600);
}

.register-btn:hover {
  background-color: #477e93;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}