<!DOCTYPE html>
<html lang="en">
  <head>
    <title>About MAAGE | Midwest Alliance for Applied Genomic Epideiology</title>

    <style>
body {
  background: #eee;
  /* This is just a helper in case the element has a transparent background or white colors. */
}

.css_pro-div-variation-1 {
  border: 0 solid #e2e8f0;
  box-sizing: border-box;
}

.a-style-1-unique-1:after, .a-style-1-unique-1:before, .a-style-2-unique-2:after, .a-style-2-unique-2:before, .a-style-3:after, .a-style-3:before, .a-style-4:after, .a-style-4:before, .a-style-5:after, .a-style-5:before, .a-text-649baf-hover-text-4a7d93--unique-1:after, .a-text-649baf-hover-text-4a7d93--unique-1:before, .a-text-649baf-hover-text-4a7d93--unique-2:after, .a-text-649baf-hover-text-4a7d93--unique-2:before, .css_pro-div-variation-1:after, .css_pro-div-variation-1:before, .css_pro-div-variation-4:after, .css_pro-div-variation-4:before, .css_pro-path-variation-2:after, .css_pro-path-variation-2:before, .css_pro-path-variation-3:after, .css_pro-path-variation-3:before, .div-bg-f8faf9-border-b-border-e8f0ec-:after, .div-bg-f8faf9-border-b-border-e8f0ec-:before, .div-bg-gradient-to-r-from-e8f0ec-to-e8f0ec-70-py-12:after, .div-bg-gradient-to-r-from-e8f0ec-to-e8f0ec-70-py-12:before, .div-bg-white-border-b-border-gray-200:after, .div-bg-white-border-b-border-gray-200:before, .div-flex-overflow-x-auto-py-4-gap-4:after, .div-flex-overflow-x-auto-py-4-gap-4:before, .div-max-w-4xl:after, .div-max-w-4xl:before, .div-max-w-7xl-mx-auto-px-4-py-3:after, .div-max-w-7xl-mx-auto-px-4-py-3:before, .div-max-w-7xl-mx-auto-px-4-unique-1:after, .div-max-w-7xl-mx-auto-px-4-unique-1:before, .div-max-w-7xl-mx-auto-px-4-unique-2:after, .div-max-w-7xl-mx-auto-px-4-unique-2:before, .div-style-1:after, .div-style-1:before, .div-style-2-unique-1:after, .div-style-2-unique-1:before, .div-style-3:after, .div-style-3:before, .div-style-4-unique-2:after, .div-style-4-unique-2:before, .div-style-5:after, .div-style-5:before, .div-style-6:after, .div-style-6:before, .h1-style-1:after, .h1-style-1:before, .h2-text-3xl-font-bold-text-2c3e50-font-poppins-unique-1:after, .h2-text-3xl-font-bold-text-2c3e50-font-poppins-unique-1:before, .h2-text-3xl-font-bold-text-2c3e50-font-poppins-unique-2:after, .h2-text-3xl-font-bold-text-2c3e50-font-poppins-unique-2:before, .main-min-h-screen-bg-white:after, .main-min-h-screen-bg-white:before, .nav-flex-overflow-x-auto:after, .nav-flex-overflow-x-auto:before, .nav-flex-text-sm-font-inter:after, .nav-flex-text-sm-font-inter:before, .p-text-xl-text-4a5568-font-inter-leading-relaxed:after, .p-text-xl-text-4a5568-font-inter-leading-relaxed:before, .section-argonne-py-16:after, .section-argonne-py-16:before, .section-idph-py-16-bg-f8faf9-:after, .section-idph-py-16-bg-f8faf9-:before, .section-uiuc-py-16:after, .section-uiuc-py-16:before, .span-mx-2-text-gray-400:after, .span-mx-2-text-gray-400:before, .svg-lucide-lucide-building2-h-6-w-6-text-548fa6-:after, .svg-lucide-lucide-building2-h-6-w-6-text-548fa6-:before, .svg-lucide-lucide-building2-h-6-w-6-text-a6c9b8-:after, .svg-lucide-lucide-building2-h-6-w-6-text-a6c9b8-:before, .svg-lucide-lucide-building2-h-6-w-6-text-ecc187-:after, .svg-lucide-lucide-building2-h-6-w-6-text-ecc187-:before {
  border: 0 solid #e5e7eb;
  box-sizing: border-box;
}

.a-text-649baf-hover-text-4a7d93--unique-1:disabled, .css_pro-div-variation-1:disabled, .div-bg-f8faf9-border-b-border-e8f0ec-:disabled, .div-max-w-7xl-mx-auto-px-4-py-3:disabled, .nav-flex-text-sm-font-inter:disabled {
  cursor: default;
}

.div-bg-f8faf9-border-b-border-e8f0ec- {
  background-color: rgb(248 250 249/1);
  border: solid #e8f0ec;
  border-width: 0 0 1px;
  box-sizing: border-box;
}

.div-max-w-7xl-mx-auto-px-4-py-3 {
  border: 0 solid #e2e8f0;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  max-width: 80rem;
  padding: .75rem 1rem;
}

.nav-flex-text-sm-font-inter {
  display: flex;
  font-family: 'Inter', 'Inter Fallback', sans-serif;
  font-size: .875rem;
  line-height: 1.25rem;
}

.a-text-649baf-hover-text-4a7d93--unique-1, .nav-flex-text-sm-font-inter, .span-mx-2-text-gray-400 {
  border: 0 solid #e2e8f0;
  box-sizing: border-box;
}

.a-text-649baf-hover-text-4a7d93--unique-1 {
  color: rgb(100 155 175/1);
  text-decoration: inherit;
}

.a-text-649baf-hover-text-4a7d93--unique-1:hover {
  color: rgb(74 125 147/1);
}

.span-mx-2-text-gray-400 {
  color: rgb(156 163 175/1);
  margin-left: .5rem;
  margin-right: .5rem;
}

.a-text-649baf-hover-text-4a7d93--unique-2:disabled, .span-mx-2-text-gray-400:disabled {
  cursor: default;
}

.a-text-649baf-hover-text-4a7d93--unique-2 {
  border: 0 solid #e2e8f0;
  box-sizing: border-box;
  color: rgb(100 155 175/1);
  text-decoration: inherit;
}

.a-text-649baf-hover-text-4a7d93--unique-2:hover {
  color: rgb(74 125 147/1);
}

.div-bg-white-border-b-border-gray-200 {
  background-color: rgb(255 255 255/1);
  border: solid #e5e7eb;
  border-width: 0 0 1px;
  box-sizing: border-box;
}

.a-style-1-unique-1:disabled, .div-bg-white-border-b-border-gray-200:disabled, .div-max-w-7xl-mx-auto-px-4-unique-1:disabled, .nav-flex-overflow-x-auto:disabled {
  cursor: default;
}

.div-max-w-7xl-mx-auto-px-4-unique-1, .nav-flex-overflow-x-auto {
  border: 0 solid #e2e8f0;
  box-sizing: border-box;
}

.div-max-w-7xl-mx-auto-px-4-unique-1 {
  margin-left: auto;
  margin-right: auto;
  max-width: 80rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.nav-flex-overflow-x-auto {
  display: flex;
  overflow-x: auto;
}

.a-style-1-unique-1:hover {
  border-color: transparent;
  color: rgb(100 155 175/1);
}

.a-style-1-unique-1, .a-style-2-unique-2 {
  border: solid transparent;
  border-width: 0 0 2px;
  box-sizing: border-box;
  color: inherit;
  font-family: 'Inter', 'Inter Fallback', sans-serif;
  font-size: .875rem;
  font-weight: 500;
  line-height: 1.25rem;
  padding: 1rem 1.25rem;
  text-decoration: inherit;
  text-wrap-mode: nowrap;
  white-space-collapse: collapse;
}

.a-style-2-unique-2:disabled {
  cursor: default;
}

.a-style-2-unique-2:hover {
  border-color: transparent;
  color: rgb(100 155 175/1);
}

.main-min-h-screen-bg-white {
  background-color: rgb(255 255 255/1);
  border: 0 solid #e2e8f0;
  box-sizing: border-box;
  min-height: 100vh;
}

.a-style-3:disabled, .div-bg-gradient-to-r-from-e8f0ec-to-e8f0ec-70-py-12:disabled, .div-flex-overflow-x-auto-py-4-gap-4:disabled, .div-max-w-4xl:disabled, .div-max-w-7xl-mx-auto-px-4-unique-2:disabled, .div-style-1:disabled, .h1-style-1:disabled, .main-min-h-screen-bg-white:disabled, .p-text-xl-text-4a5568-font-inter-leading-relaxed:disabled {
  cursor: default;
}

.div-bg-gradient-to-r-from-e8f0ec-to-e8f0ec-70-py-12 {
  background-image: linear-gradient(to right, #e8f0ec, rgb(232 240 236/.7));
  border: 0 solid #e2e8f0;
  box-sizing: border-box;
  padding-bottom: 3rem;
  padding-top: 3rem;
}

.div-max-w-7xl-mx-auto-px-4-unique-2 {
  margin-left: auto;
  margin-right: auto;
  max-width: 80rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.div-max-w-4xl, .div-max-w-7xl-mx-auto-px-4-unique-2, .h1-style-1 {
  border: 0 solid #e2e8f0;
  box-sizing: border-box;
}

.div-max-w-4xl {
  max-width: 56rem;
}

.h1-style-1 {
  color: rgb(44 62 80/1);
  font-family: 'Poppins', 'Poppins Fallback', sans-serif;
  font-size: 2.25rem;
  font-weight: 700;
  line-height: 2.5rem;
  margin: 0 0 1.5rem;
}

@media (min-width: 768px) {
  .h1-style-1 {
    font-size: 3rem;
    line-height: 1;
  }
}

.p-text-xl-text-4a5568-font-inter-leading-relaxed {
  border: 0 solid #e2e8f0;
  box-sizing: border-box;
  color: rgb(74 85 104/1);
  font-family: 'Inter', 'Inter Fallback', sans-serif;
  font-size: 1.25rem;
  line-height: 1.625;
  margin: 0;
}

.div-style-1 {
  background-color: rgb(255 255 255/1);
  border: solid #e5e7eb;
  border-width: 0 0 1px;
  box-shadow: 0 0 #0000, 0 0 #0000, 0 1px 2px 0 rgb(0 0 0/.05);
  box-sizing: border-box;
  position: sticky;
  top: 0;
  z-index: 10;
}

.a-style-3, .a-style-4, .div-flex-overflow-x-auto-py-4-gap-4 {
  border: 0 solid #e2e8f0;
  box-sizing: border-box;
}

.div-flex-overflow-x-auto-py-4-gap-4 {
  column-gap: 1rem;
  display: flex;
  overflow-x: auto;
  padding-bottom: 1rem;
  padding-top: 1rem;
  row-gap: 1rem;
}

.a-style-3, .a-style-4 {
  background-color: rgba(166, 201, 184, .1);
  border-radius: calc(.5rem - 2px);
  color: rgb(44 62 80/1);
  font-family: 'Inter', 'Inter Fallback', sans-serif;
  font-weight: 500;
  padding: .5rem 1rem;
  text-decoration: inherit;
  text-wrap-mode: nowrap;
  white-space-collapse: collapse;
}

.a-style-3:hover {
  background-color: rgba(166, 201, 184, .2);
}

.a-style-4 {
  background-color: rgba(84, 143, 166, .1);
}

.a-style-4:disabled {
  cursor: default;
}

.a-style-4:hover {
  background-color: rgba(84, 143, 166, .2);
}

.a-style-5 {
  background-color: rgba(236, 193, 135, .1);
  border: 0 solid #e2e8f0;
  border-radius: calc(.5rem - 2px);
  box-sizing: border-box;
  color: rgb(44 62 80/1);
  font-family: 'Inter', 'Inter Fallback', sans-serif;
  font-weight: 500;
  padding: .5rem 1rem;
  text-decoration: inherit;
  text-wrap-mode: nowrap;
  white-space-collapse: collapse;
}

.a-style-5:disabled {
  cursor: default;
}

.a-style-5:hover {
  background-color: rgba(236, 193, 135, .2);
}

.section-argonne-py-16 {
  border: 0 solid #e2e8f0;
  box-sizing: border-box;
  padding-bottom: 4rem;
  padding-top: 4rem;
}

.css_pro-div-variation-4:disabled, .css_pro-path-variation-2:disabled, .css_pro-path-variation-3:disabled, .div-style-2-unique-1:disabled, .div-style-3:disabled, .div-style-4-unique-2:disabled, .div-style-5:disabled, .div-style-6:disabled, .h2-text-3xl-font-bold-text-2c3e50-font-poppins-unique-1:disabled, .h2-text-3xl-font-bold-text-2c3e50-font-poppins-unique-2:disabled, .section-argonne-py-16:disabled, .section-idph-py-16-bg-f8faf9-:disabled, .section-uiuc-py-16:disabled, .svg-lucide-lucide-building2-h-6-w-6-text-548fa6-:disabled, .svg-lucide-lucide-building2-h-6-w-6-text-a6c9b8-:disabled, .svg-lucide-lucide-building2-h-6-w-6-text-ecc187-:disabled {
  cursor: default;
}

.div-style-2-unique-1 {
  align-items: center;
  border: solid #e5e7eb;
  border-width: 0 0 1px;
  box-sizing: border-box;
  display: flex;
  margin-bottom: 2rem;
  padding-bottom: 1rem;
}

.div-style-3, .svg-lucide-lucide-building2-h-6-w-6-text-a6c9b8- {
  border: 0 solid #e2e8f0;
  box-sizing: border-box;
}

.div-style-3 {
  align-items: center;
  background-color: rgba(166, 201, 184, .2);
  border-radius: 9999px;
  display: flex;
  height: 3rem;
  justify-content: center;
  margin-right: 1rem;
  width: 3rem;
}

.svg-lucide-lucide-building2-h-6-w-6-text-a6c9b8- {
  color: rgb(166 201 184/1);
  display: block;
  height: 1.5rem;
  vertical-align: middle;
  width: 1.5rem;
}

.css_pro-div-variation-4, .css_pro-path-variation-2, .css_pro-path-variation-3, .h2-text-3xl-font-bold-text-2c3e50-font-poppins-unique-1 {
  border: 0 solid #e2e8f0;
  box-sizing: border-box;
}

.h2-text-3xl-font-bold-text-2c3e50-font-poppins-unique-1 {
  color: rgb(44 62 80/1);
  font-family: 'Poppins', 'Poppins Fallback', sans-serif;
  font-size: 1.875rem;
  font-weight: 700;
  line-height: 2.25rem;
  margin: 0;
}

.section-idph-py-16-bg-f8faf9- {
  background-color: rgb(248 250 249/1);
  border: 0 solid #e2e8f0;
  box-sizing: border-box;
  padding-bottom: 4rem;
  padding-top: 4rem;
}

.div-style-4-unique-2 {
  align-items: center;
  border: solid #e5e7eb;
  border-width: 0 0 1px;
  box-sizing: border-box;
  display: flex;
  margin-bottom: 2rem;
  padding-bottom: 1rem;
}

.div-style-5, .svg-lucide-lucide-building2-h-6-w-6-text-548fa6- {
  border: 0 solid #e2e8f0;
  box-sizing: border-box;
}

.div-style-5 {
  align-items: center;
  background-color: rgba(84, 143, 166, .2);
  border-radius: 9999px;
  display: flex;
  height: 3rem;
  justify-content: center;
  margin-right: 1rem;
  width: 3rem;
}

.svg-lucide-lucide-building2-h-6-w-6-text-548fa6- {
  color: rgb(84 143 166/1);
  display: block;
  height: 1.5rem;
  vertical-align: middle;
  width: 1.5rem;
}

.h2-text-3xl-font-bold-text-2c3e50-font-poppins-unique-2 {
  border: 0 solid #e2e8f0;
  box-sizing: border-box;
  color: rgb(44 62 80/1);
  font-family: 'Poppins', 'Poppins Fallback', sans-serif;
  font-size: 1.875rem;
  font-weight: 700;
  line-height: 2.25rem;
  margin: 0;
}

.section-uiuc-py-16 {
  padding-bottom: 4rem;
  padding-top: 4rem;
}

.div-style-6, .section-uiuc-py-16, .svg-lucide-lucide-building2-h-6-w-6-text-ecc187- {
  border: 0 solid #e2e8f0;
  box-sizing: border-box;
}

.div-style-6 {
  align-items: center;
  background-color: rgba(236, 193, 135, .2);
  border-radius: 9999px;
  display: flex;
  height: 3rem;
  justify-content: center;
  margin-right: 1rem;
  width: 3rem;
}

.svg-lucide-lucide-building2-h-6-w-6-text-ecc187- {
  color: rgb(236 193 135/1);
  display: block;
  height: 1.5rem;
  vertical-align: middle;
  width: 1.5rem;
}

.inherited-styles-for-exported-element {
  color: rgb(17 24 39/1);
  font-family: 'Inter', 'Inter Fallback', sans-serif;
  tab-size: 4;
}

html {
  font-size: 16px;
  /* This is IMPORTANT since some copied values use "REM" units */
}
  </style>
  </head>
  <body
    class="claro patric <% if (request.isAuthenticated && request.isAuthenticated()) { %>Authenticated<% } %>"
  >

  <div class="inherited-styles-for-exported-element css_pro-div-variation-1">
    <main class="main-min-h-screen-bg-white">
      <div class="div-bg-gradient-to-r-from-e8f0ec-to-e8f0ec-70-py-12">
        <div class="div-max-w-7xl-mx-auto-px-4-unique-2">
          <div class="div-max-w-4xl">
            <h1 class="h1-style-1">Meet Our Team</h1>
            <p class="p-text-xl-text-4a5568-font-inter-leading-relaxed">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
          </div>
        </div>
      </div>
      <div class="div-style-1">
        <div class="div-max-w-7xl-mx-auto-px-4-unique-1">
          <div class="div-flex-overflow-x-auto-py-4-gap-4"><a href="http://localhost:3000/about/#argonne" class="a-style-3">Argonne National Laboratory</a><a href="http://localhost:3000/about/#idph" class="a-style-4">Illinois Department of Public Health</a><a href="http://localhost:3000/about/#uiuc" class="a-style-5">University of Illinois</a></div>
        </div>
      </div>
      <section id="argonne" class="section-argonne-py-16">
        <div class="div-max-w-7xl-mx-auto-px-4-unique-2">
          <div class="div-style-2-unique-1">
            <div class="div-style-3"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="svg-lucide-lucide-building2-h-6-w-6-text-a6c9b8-">
                <path d="M6 22V4a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v18Z" class="css_pro-path-variation-2"></path>
                <path d="M6 12H4a2 2 0 0 0-2 2v6a2 2 0 0 0 2 2h2" class="css_pro-path-variation-3"></path>
                <path d="M18 9h2a2 2 0 0 1 2 2v9a2 2 0 0 1-2 2h-2" class="css_pro-path-variation-2"></path>
                <path d="M10 6h4" class="css_pro-path-variation-3"></path>
                <path d="M10 10h4" class="css_pro-path-variation-2"></path>
                <path d="M10 14h4" class="css_pro-path-variation-3"></path>
                <path d="M10 18h4" class="css_pro-path-variation-2"></path>
              </svg></div>
            <div class="css_pro-div-variation-4">
              <h2 class="h2-text-3xl-font-bold-text-2c3e50-font-poppins-unique-1">Argonne National Laboratory</h2>
            </div>
          </div>
        </div>
      </section>
      <section id="idph" class="section-idph-py-16-bg-f8faf9-">
        <div class="div-max-w-7xl-mx-auto-px-4-unique-1">
          <div class="div-style-4-unique-2">
            <div class="div-style-5"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="svg-lucide-lucide-building2-h-6-w-6-text-548fa6-">
                <path d="M6 22V4a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v18Z" class="css_pro-path-variation-2"></path>
                <path d="M6 12H4a2 2 0 0 0-2 2v6a2 2 0 0 0 2 2h2" class="css_pro-path-variation-3"></path>
                <path d="M18 9h2a2 2 0 0 1 2 2v9a2 2 0 0 1-2 2h-2" class="css_pro-path-variation-2"></path>
                <path d="M10 6h4" class="css_pro-path-variation-3"></path>
                <path d="M10 10h4" class="css_pro-path-variation-2"></path>
                <path d="M10 14h4" class="css_pro-path-variation-3"></path>
                <path d="M10 18h4" class="css_pro-path-variation-2"></path>
              </svg></div>
            <div class="css_pro-div-variation-4">
              <h2 class="h2-text-3xl-font-bold-text-2c3e50-font-poppins-unique-2">Illinois Department of Public Health</h2>
            </div>
          </div>
        </div>
      </section>
      <section id="uiuc" class="section-uiuc-py-16">
        <div class="div-max-w-7xl-mx-auto-px-4-unique-2">
          <div class="div-style-2-unique-1">
            <div class="div-style-6"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="svg-lucide-lucide-building2-h-6-w-6-text-ecc187-">
                <path d="M6 22V4a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v18Z" class="css_pro-path-variation-2"></path>
                <path d="M6 12H4a2 2 0 0 0-2 2v6a2 2 0 0 0 2 2h2" class="css_pro-path-variation-3"></path>
                <path d="M18 9h2a2 2 0 0 1 2 2v9a2 2 0 0 1-2 2h-2" class="css_pro-path-variation-2"></path>
                <path d="M10 6h4" class="css_pro-path-variation-3"></path>
                <path d="M10 10h4" class="css_pro-path-variation-2"></path>
                <path d="M10 14h4" class="css_pro-path-variation-3"></path>
                <path d="M10 18h4" class="css_pro-path-variation-2"></path>
              </svg></div>
            <div class="css_pro-div-variation-4">
              <h2 class="h2-text-3xl-font-bold-text-2c3e50-font-poppins-unique-1">University of Illinois</h2>
            </div>
          </div>
        </div>
      </section>
    </main>
  </div>


    <%- include('../javascript') %>
  </body>
</html>
