<!DOCTYPE html>
<html lang="en">
  <head>
    <title>About MAAGE | Midwest Alliance for Applied Genomic Epideiology</title>
    <%- include('../head') %>
  </head>
  <body
    class="claro patric <% if (request.isAuthenticated && request.isAuthenticated()) { %>Authenticated<% } %>"
  >
  <div style="display: flex; flex-direction: column; justify-content: center; align-items: center; height: 100vh;">
    <h1 style="font-size: 1.5rem; font-weight: 600;">Advisory Boards</h1>
    <br>
    <a href="/" style="color: #548fa6">Back Home</a>
  </div>

    <%- include('../javascript') %>
  </body>
</html>
